<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>提交订单</title>
    <!--引入ico-->
    <!--<link rel="shortcut icon" href="static/favicon.ico?v=2">-->
    <script src="assets/lib/flexible.js"></script>
</head>
<body>

    <div class="null"></div>

    <div class="card">
        <div class="card-item">
            <p class="khBankName"></p>
            <p class="realName"></p>
        </div>
        <div class="card-item-right">
            <p class="bankcardNum"></p>
        </div>
    </div>

    <div class="deposit">
        <div class="img">
            <img src="../../assets/images/html/index.png" alt="转存至">
            <p>转存至</p>
        </div>
    </div>

    <div class="card to-card">
        <div class="card-item">
            <p class="bankName"></p>
            <p class="realName"></p>
        </div>
        <div class="card-item-right">
            <p class="bankCardNo"></p>
        </div>
    </div>


    <div class="plan margin">
        <h2>收银计划</h2>
        <ul>
            <li>
                <span>顺序</span>
                <span>时间</span>
                <span>类型</span>
                <span>金额</span>
                <span>手续费</span>
            </li>
            <li>
                <span>1</span>
                <span>即时</span>
                <span>信用卡交易</span>
                <span class="amount"></span>
                <span class="rate"></span>
            </li>
            <li>
                <span>2</span>
                <span>1-30分钟</span>
                <span>转账储蓄卡</span>
                <span class="collections"></span>
                <span>1</span>
            </li>
        </ul>
    </div>

    <!--<div class="form">-->
        <!--<div class="form-item">-->
            <!--<label>安全码</label>-->
            <!--<div class="input">-->
                <!--<input type="text" placeholder="信用卡背后CVN2后的三位数字">-->
             <!--</div>-->
        <!--</div>-->
        <!--<div class="form-item">-->
            <!--<label>有效期</label>-->
            <!--<div class="input">-->
                <!--<input type="text" placeholder="信用卡背后CVN2后的三位数字">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form">-->
        <!--<div class="form-item">-->
            <!--<label>验证码</label>-->
            <!--<div class="input-code">-->
                <!--<input type="text" placeholder="请输入验证码">-->
            <!--</div>-->
            <!--<div class="button-code">-->
                <!--<p>获取验证码</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="button" id="button">
        <span>确定收银</span>
    </div>

    <script src="assets/lib/zepto.min.js"></script>
    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/eruda"></script>-->
    <!--<script>eruda.init();</script>-->
</body>
</html>

