@import "../../assets/scss/common";

html{
    @extend %h100;
}
body{
    background-color: #f2f2f2;
    color: #1C1717;
}

.session{
    z-index: 9;
    @extend %w100;
    @extend %pf;
    @extend %l0;
    @extend %r0;
    @extend %t0;
    background-color: #f2f2f2;
}
.prompt{
    @extend %df;
    @extend %aic;
    height: j(40);
    background-color: #F8E6D0;
    color: #FB871B;
    font-size: j(12);
    padding-left: j(18);
}

.form{
    @extend %df;
    @extend %fdc;
    @extend %aic;
}

.form-item{
    @extend %df;
    @extend %aic;
    @extend %w100;
    @extend %bsb;
    height: j(50);
    padding-left: j(18);
    background-color: #fff;
    border-bottom: 1px solid #eee;
    label{
        font-size: j(14);
    }
    .input{
        @extend %df1;
    }
    input{
        @extend %tar;
        @extend %w100;
        @extend %bsb;
        border: none;
        font-size: j(14);
        padding-right: j(18);
    }
}
.form-item-arrow{
    input{
        padding-right: 0;
    }
}

.button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cp;
    @extend %cfff;
    margin: j(20) auto;
    border-radius: j(4);
    width: j(340);
    height: j(50);
    font-size: j(16);
    background-color: #FF5454;
}

.list{
    @extend %df1;
    @extend %pr;
    @extend %w100;
    padding-top: j(230);
    overflow-y: auto;
}
.item{
    padding: j(16) j(18);
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    p{
        margin-top: j(5);
        line-height: j(17);
        color: #1C1717;
        font-size: j(12);
        &:first-child{
            @extend %df;
            @extend %fwb;
            @extend %aic;
            @extend %jcs;
            line-height: j(20);
            color: #1C1717;
            font-size: j(14);
        }
        &:last-child{
            color: #999999;
        }
    }
    .type{
        @extend %pr;
        padding-left: j(15);
        &:after{
            @extend %pa;
            @extend %t50;
            @extend %l0;
            content: '';
            margin-top: j(-5);
            width: j(10);
            height: j(10);
            border-radius: 50%;
        }
    }
    &.status-1{
        .type{
            &:after{
               background-color: #65D374;
            }
        }
    }
    &.status-2{
        .type{
            &:after{
                background-color: #ffa915;
            }
        }
    }
    &.status-3{
        .type{
            &:after{
                background-color: #F7555A;
            }
        }
    }
}
