<!DOCTYPE html>
<html>
<head>
    <title>${htmlWebpackPlugin.options.title}</title>
    ${require('html-loader!src/components/head-section/index.html')}
</head>
<body>
    <div id="app">

        ${require('html-loader!src/components/header-section/index.html')}


        <p>-----------{{strBodyPrompt}}-----------</p>

        <img :src="logo">
        <img src="${require('src/assets/images/html/index.png')}">

        <h1>TEMPLATE-HOME</h1>

        <p>-----------我是主体噢-----------</p>


        ${require('html-loader!src/components/footer-section/index.html')}

    </div>

</body>
</html>

