@import "../../assets/scss/common";

body{
    background-color: #f2f2f2;
}

* {
    -webkit-touch-callout: none; /*系统默认菜单被禁用*/
    -webkit-user-select: none; /*webkit浏览器*/
    -khtml-user-select: none; /*早期浏览器*/
    -moz-user-select: none; /*火狐*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}
input{
    -webkit-user-select: auto;
}

.collect-wrap{
    @extend %ma;
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    padding-top: j(25);
}
.input-box{
    @extend %bsb;
    @extend %tar;
    line-height: j(55);
    width: j(340);
    height: j(58);
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: j(4);
    padding: 0 j(16);
    font-size: j(24);
    color: #999999;
    letter-spacing: j(1);
    &.input-value{
        color: #333;
    }
}
.keyboard{
    @extend %pf;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %clearfix;
    background-color: #fff;
}
.keyboard-item{
    @extend %bsb;
    @extend %fl;
    @extend %tac;
    width: 25%;
    height: j(60);
    line-height: j(60);
    border-top: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    font-size: j(24);
    color: #333333;
    &:nth-child(4n){
        border-right: none;
    }
    &.delete{
        background: url("../../assets/images/css/backstep_cion2x.png") no-repeat center;
        background-size: j(24) j(16);
    }
}
.keyboard-sure{
    @extend %pa;
    @extend %bsb;
    @extend %b0;
    @extend %r0;
    width: 25%;
    height: j(180);
    background-color: #FF5454;
    padding-top: j(62);
    span{
        @extend %db;
        @extend %tac;
        font-size: j(20);
        color: #fff;
        line-height: j(28);
    }
    &.disabled{
        background-color: #ff8e73;
    }
}
